# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Electron-builder output
dist/
!dist/*.png
dist-packed/
*.exe

# Logs and databases
*.log
burn_debug.log

# System files
.DS_Store
Thumbs.db

# Cache and local environments
.env
.env.local
.env.*.local
.cache/
.parcel-cache/
.eslintcache
